.card {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  margin-right: 50px;
  margin-bottom: 30px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  padding: 36px 30px;
  width: 210px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
}

.card:nth-child(4n) {
  margin-right: 0;
}

.card .image {
  margin-bottom: 16px;
  border-radius: 10px;
  background: #f2f2f2;
  width: 150px;
  height: 112px;
}

.card .text1 {
  margin-bottom: 4px;
  border-radius: 3px;
  background: #f7f7f7;
  width: 150px;
  height: 15px;
}

.card .text2 {
  margin-bottom: 12px;
  border-radius: 3px;
  background: #f7f7f7;
  width: 93px;
  height: 15px;
}

.card .price {
  border-radius: 8px;
  background: #f7f7f7;
  width: 80px;
  height: 24px;
}

.card .button {
  border-radius: 8px;
  background: #f7f7f7;
  width: 32px;
  height: 32px;
}
