/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable property-no-vendor-prefix */
.card {
  position: relative;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  margin-right: 50px;
  margin-bottom: 30px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  padding: 30px;
  width: 210px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
}

.card:nth-child(4n) {
  margin-right: 0;
}

.card h5 {
  display: -webkit-box;
  margin: 14px 0;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 400;
}

.card h5:hover {
  content: attr(title);
}

.card span {
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 12px;
}

.favorite {
  position: absolute;
  top: 39px;
  left: 26px;
  cursor: pointer;
}

.favorite:hover rect {
  stroke-opacity: 1;
}

.favorite:hover path {
  stroke-opacity: 1;
}

.favorite rect {
  transition: stroke-opacity 0.15s ease-in-out;
}

.favorite path {
  transition: stroke-opacity 0.15s ease-in-out;
}

.btnAdd {
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background: transparent;
  width: 32px;
  height: 32px;
}

.progress {
  border: 0;
}

.plus {
  transition: opacity 0.15s ease-in-out;
  opacity: 0.5;
  cursor: pointer;
}

.plus:hover {
  opacity: 1;
}
