.alertTray {
  position: fixed;
  bottom: 0;
  left: 20px;
  flex-direction: column-reverse;
  height: 245px;
}

.alertTray .alert {
  margin-bottom: 50px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 30px 0;
  width: 250px;
  height: 60px;
}

.alertTray .alert p {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}
