.drawer {
  position: absolute;
  right: 0;
  transform: translateX(420px);
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 30px;
  width: 420px;
  height: 100%;

  .items {
    margin-bottom: 40px;
    overflow: auto;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  h2 {
    margin: 0;
    font-size: 24px;

    img {
      cursor: pointer;
    }
  }
}

// Drawer Animations

.enter {
  transform: translateX(420px);
}

.enterActive {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.enterDone {
  transform: translateX(0);
}

.exit {
  transform: translateX(0);
}

.exitActive {
  transform: translateX(420px);
  transition: transform 0.3s ease-in-out;
}

.exitDone {
  transform: translateX(420px);
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;

  .cartItemImg {
    background-position: 0 -3px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      position: relative;
      top: -4px;
      flex: 1;
      margin: 0 7px;
      border-bottom: 1px dashed #dfdfdf;
      height: 1px;
    }
  }
}
