header {
  border-bottom: 1px solid #eaeaea;

  h3,
  p {
    margin: 0;
  }

  span {
    line-height: 17px;
    color: #5c5c5c;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
}
